p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Navbar */

.navbar-DS {
    background-color: #9DCE5B;
    padding: .1rem 1.5rem;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-family: 'Source Sans Pro', serif;
    z-index: 2;
    font-size: 80%;
}

.navbar-DS p {
    font-family: 'Source Sans Pro', serif;
}

.bordes-externo-DS {
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 35px;
    font-size: 110%;
}

.bordes-DS {
    border-right: 2px solid white;
}

.sincursor-DS {
    cursor: default;
    font-size: 1rem;
}

/* Carrousel */

.carrousel-DS {
    height: 500px;
}

.letras-DS {
    bottom: 20px;
}

.ajuste-imagen-DS {
    object-fit: cover;
    height: 500px;
}

.titulo {
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 399px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.titulo h3{
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.titulo h5{
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.texto-DS{
    text-align: center;
}

/* Logo */

.logo {
    width: 100px;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius: 50px;
    background-color: #434343;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* Subtitulos */

.subtitulo-DS {
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
}

.izquierda-DS {
    float: left;
    height: 2px;
    background-color: #434343;
}

.derecha-DS {
    float: right;
    height: 2px;
    background-color: #434343;
}


/* Menu */

.div2 {
    z-index: 2;
    position: absolute;
    width: 1150px;
    height: 75px;
    top: 60px;
    left: 170px;
    background-color: #434343;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.justificar-DS {
    flex-grow: 0;
    padding-left: 15px;
}

.bordes-menu-DS {
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 40px;
    font-size: 105%;
    font-family: 'Source Sans Pro', serif;
}

.opcion-menu-DS {
    width: 157px;
    text-align: center;
}

#bordes-left-DS {
    padding-left: 20px;
    border-left: 2px solid white;
    width: 55px;
}

.minimenu-DS{
    right: auto;
    left: -6px;
    min-width: 10.4rem;
}

/* Carta */

.imagen-DS{
    width: 100%;
    height: 100%;
}

.carta-DS{
    float: left;
}

.imagen-producto-DS{
    width: 100%;
    height: 185px;
    object-fit: cover;
}

/* Eventos */

.evento-DS{
    width: 930px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* Footer */

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    position: relative;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}



/* Quienes somos*/
/* Sección donde se encuentra la misión y visión*/
#misi_visi {
    background-color: #9DCE5B;
    color: #ffffff;
}

/* Valores */
.lista {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    

}

.resaltar{
    background-color: #E48E66;
}
