p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

pre{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 14.4px;
    color: #434343;
    white-space: pre-wrap;
}

h2 {
    font-family: 'Source Sans Pro', serif;
    text-align: center;
}

body {
    color: #434343;
}

.boton-arriba {
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}

.texto-truncado {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/* Navbar */

.navbar-DS {
    background-color: #9DCE5B;
    padding: .1rem 1.5rem;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-family: 'Source Sans Pro', serif;
    z-index: 4;
    font-size: 80%;
}

.navbar-DS p {
    font-family: 'Source Sans Pro', serif;
}

.bordes-externo-DS {
    /* border-left: 2px solid white; */
    border-right: 2px solid white;
    height: 35px;
    font-size: 110%;
}

.bordes-DS {
    border-right: 2px solid white;
}

.bordes-izq-DS {
    border-left: 2px solid white;
}

.sincursor-DS {
    cursor: default;
    font-size: 1rem;
}

/* Carrousel */

.letras-DS {
    bottom: 20px;
}

.ajuste-imagen-DS {
    object-fit: cover;
    height: 500px;
}

.titulo {
    z-index: 2;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    justify-content: center;
    height: 500px;
}

.inicio{
    margin-top: 135px;
}

.titulo h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
    align-self: center;
}

.titulo h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.titulo h5 {
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
}

.texto-DS {
    text-align: center;
}

.z-index-sup {
    z-index: 2;
}

/* Logo */

.logo {
    width: 100px;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius: 50px;
    background-color: #434343;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* Subtitulos */

.subtitulo-DS {
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    color: #434343;
}

.izquierda-DS {
    float: left;
    height: 2px;
    background-color: #434343;
}

.derecha-DS {
    float: right;
    height: 2px;
    background-color: #434343;
}


/* Menu */

.div2 {
    z-index: 3;
    position: absolute;
    width: 87%;
    height: 75px;
    margin-top: 60px;
    top: 0px;
    left: 170px;
    background-color: #434343;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    font-family: 'Source Sans Pro', serif;
}

.menu-fixed{
    position: fixed;
    z-index: 1000;
    margin-top: 0px;
    top:0;
    left: 0;
    height: 60px;
    width: 101.5%;
}

.menu-fixed .justificar-DS{
    padding-left: 15px;
}

.justificar-DS {
    width: 73%;
    flex-grow: 0;
    padding-left: 1px;
    float: left;
}

.justificar-administrador {
    width: 100%;
}

.bordes-menu-DS {
    border-left: 2px solid white;
    height: 40px;
    width:100%;
    font-size: 105%;
    font-family: 'Source Sans Pro', serif;
}

.redes-sociales-compra{
    width: 27%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

.redes-sociales-administrador {
    width: 25%;
}

.opcion-menu-DS {
    width: 20%;
    text-align: center;
    align-self: center;
}

.bordes-left-DS {
    padding-left: 8px;
    border-left: 2px solid white;
    width: 55px;
}

.minimenu-DS {
    right: auto;
    left: -9px;
    min-width: 111%;
    width: 100px;
    z-index: 3;
    position: absolute;  
}

.tamaño {
    font-size: 10px;
}

/* Carta */

.imagen-DS {
    width: 100%;
    height: 100%;
}

.carta-DS {
    display: inline-flex;
    margin: 0.9rem;
}

.imagen-producto-DS {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

/* Eventos */

.evento-DS {
    width: 930px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* Footer */

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    position: relative;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}



/* Quienes somos*/
/* Sección donde se encuentra la misión y visión*/
#misi_visi {
    background-color: #9DCE5B;
    color: #ffffff;
}

/* Valores */
.lista {
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}

.resaltar {
    background-color: #E48E66;
}

/* contactanos*/
#texto-mapa h3 {

    text-align: center;


}

.separacion {


    border-right: 2px solid white;
    width: 60px;


}

.ubicacion {
    background-color: #9DCE5B;
    color: #FFF;

}

.form-ubicacion {
    color: #FFF;
}

.btn {

    background-color: #434343;
    ;
    ;
}

/*Inicio de sesión */
#fondo_login {
    background-color: #9DCE5B;
}

.botones {

    background-color: #434343;
    color: #FFF;

}

.botones:hover {
    color: grey;
}

/* Carrito de compra*/
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}

#carrito_tabla {
    background-color: #9DCE5B;
    color: #FFF;
}

#continuar_comprando {

    background-color: #00A59C;
    color: #FFF;
}

.carrito {
    font-family: 'Montserrat', sans-serif;
}

/* Productos_plantas */

.contenedor-productos {
    margin-top: 7.5rem;
    margin-bottom: 1.2rem;
}

/* Descripcion producto */

.descripcion-producto .container{
    margin-top: 10%;
}

/* Total compra*/
.total_compra {
    background-color: #9DCE5B;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
}


#entrega-compra p {
    
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 20px;
}

#terminar_compra {
    color: #FFF;
}

.pedido{
    margin-left: 10%;
    margin-right: 10%;
    align-content: left;
    margin-top: 10%;
}

.cabecera_pedidos{
    background-color: #9DCE5B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.cuerpo_pedidos{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}
tr:nth-child(odd) td {
    background: #D2E7B5;
}

.cabecera_modal{
    text-align: center;
}

.final_pedido{
    background-color: #9DCE5B;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Archivos */
.archivos label {
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 4px;
}

/*Mis datos */
.datos{
    background-color: #9DCE5B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #FFF;
}


/* Boton */

.color-verde {
    background-color: #86a74d;
    color: white;
}
.color-verde:hover {
    color: white;
}

.text-align-center{
    text-align: center;
}

.datos_usuario{
    font-family: 'Source Sans Pro', serif;
    font-size: 110%;
}

/* Informes */

.titulo_informe{
    background-color: #9DCE5B;
    
}

.titulo_informe h3{
   color: white;
 
}

/* Icono borrar en formulario */
.inner-addon {
   position: relative;
}
.inner-addon .fas {
   position: absolute;
   z-index: 3;
   padding: 4px;
   margin: 7.5px;
   cursor: pointer;
}
.right-addon .fas {
   right: 60px;
}